{% extends 'base.html' %}

{% block title %}Homepage{% endblock title %}

{% block content %}
    <div class="container content-container">
        <div class="row no-gutters">
            <div class="col-md-9 order-md-2">
                {% for post in posts %}
                <div class="single-post-home">
                    <h5>
                        <a class="custom-link" href="{{ url_for('post_detail', post_id=post.id) }}">{{ post.title }}</a>
                    </h5>
                    <p class="p-small-created-date">{{ post.created_at.strftime('%d.%m.%y') }}</p>
                    {% if post.description %}
                    <p class="p-small-description text-muted mb-0">{{ post.description }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="col-md-3 order-md-1">
                <div class="about-snippet-block text-center">
                    {{ lipsum(n=3, min=5, max=10) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
