{% extends 'base.html' %}

{% block title %}
{{ post.title }} - CodingWiz
{% endblock title %}

{% block content %}
    <div class="container content-container">
        <div class="row no-gutters">
            <div class="col-md-9 order-md-2">
                <div class="post-page-block">

                    {% if post.image %}
                    <div>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/posts/' + post.image) }}" alt="">
                    </div>
                    {% endif %}

                    <h3>{{ post.title }}</h3>
                    <p class="p-small-created-date text-muted">{{ post.created_at.strftime('%d.%m.%y') }}</p>
                    {% if current_user.is_authenticated and current_user == post.author %}
                    <a class="btn btn-sm btn-outline-success" href="{{ url_for('post_update', post_slug=post.slug)}}">Edit</a>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletePostModal">
                        Delete
                    </button>
                    {% endif %}
                    <p >{{ post.body|markdown }}</p>
                </div>
            </div>
            <div class="col-md-3 order-md-1">
                {% include 'about_me_snippet.html' %}
            </div>
        </div>
    </div>

    {% include 'post_delete_modal.html' %}
{% endblock content %}
